# # Procster systemd unit
# - To generate out of original template, see Makefile for instructions
# - To enable: sudo systemctl enable --now `pwd`/procster.service
# - To troubleshoot, run journalctl -xe
[Unit]
Description=Procster Process Monitor
After=network.target

[Service]
# Environment="var=val"
# simple=non-forking
# Seems to prefer simple (even if we fork inside !)
Type=simple
#Type=forking
# Effective user (run-as)
User={{ user }}
# Translate to name to prettify ?
Group={{ group }}
# ExecStartPre=...
ExecStart={{{ docroot }}}/procserver {{{ port }}} --daemon
WorkingDirectory={{{ docroot }}}
# Logging
StandardOutput=file:/var/log/procster.out.log
StandardError=file:/var/log/procster.err.log
Restart=on-failure
# PIDFile={{{ docroot }}}/procster.pid
GuessMainPID=true
[Install]
WantedBy=multi-user.target
